<form action="/setup_game" method="post">
	<p>Player 1 enter your name: <input type="text" name = "p1name"></p>
	<p>Player 2 enter your name: <input type="text" name = "p2name"></p>
	<input type="submit">
</form>